<% provide(:title, 'Sign up') %>
<h1>Registrarse</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :tipo, "Tipo de funcionario" %>
      <%= f.select :tipo, options_for_select(["Encargado de Adquisiciones", "Encargado de Bodega Central", "Encargado de Obra", "Encargado de Bodega de Obra"]), class: 'form-control' %>

      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme Contraseña" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "Crear Usuario", class: "btn btn-primary" %>
    <% end %>
    <p>Volver a <%= link_to "Iniciar Sesión", login_path %></p>
  </div>
</div>
